<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> CADASTRA AE </h1>

    <form action="/pessoa/save" method="POST">
        <table border="solid">
            <tr>
                <td> nome: </td>
                <td> <input name="nome" type="text" placeholder="Digite seu nome..."></td>
            </tr>

            <tr>
                <td> email: </td>
                <td> <input name="email" type="email" placeholder="Digite seu email..."></td>
            </tr>

            <tr>
                <td> telefone: </td>
                <td> <input name="telefone" type="tel" placeholder="Digite seu telefone..."></td>
            </tr>
        </table>

        <br>

       <input type="submit" value="cadastrar">
    </form>

</body>
</html>